.contact-form{
margin: 6em 0;
position: relative;
}
body{
	background: #22272d !important;
}
.contact-form h1{
padding:2em 1px;
color: #e6b333;
}
.contact-form .right{
max-width: 600px;
}
.contact-form .right .btn-secondary{
background: #e6b333;
color: #fff;
border:0;
}
input[type="file"]{
  display: none;
  width: 30%;
  padding: 5px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}
input[type="button"]{
  width: 35%;
  padding: 5px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
  background: #e6b333;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
}
.button {
  float: right;
  color: #7f8084;
  border: 1px solid #22272d;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 0.8em;
  cursor: pointer;
}

.button:hover {
  color: #d3d3d3;
}
output{
  color: #FFFFFF;
}
.contact-form .right .form-control::placeholder{
color: #888;
font-size: 16px;
}