/* Show it is fixed to the top */
body, html {
  min-height: 75rem;
  padding-top: 1rem;
  background: #22272d;
  font-family: 'Roboto', sans-serif;
}
.jumbotron {
  
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #22272d !important;
}

.btn-secondary{
	background: #22272d; 
}

.mb-0{
  font-size: 19px;
  color: #ffffff !important;
}


h3{
	color: #ffffff !important;
}

.card-body{
	background: #1a1f25;	
}

.card-text{
	color: #ffffff;
}

.btn{
	color: #e6b333;
}

.btn:hover{
	background: #e6b333;
}

.text-muted{

	font-size: 24px;
	color: #e6b333 !important;
}

.album.py-5.bg-light{
	background:#22272d !important; 
	color: #22272d !important;
}
.row{
	background: #22272d;
	color: #22272d;
}

.container{
	background: #22272d;
	color: #22272d; 
}

li.nav-item a:hover { 
	color: #e6b333 !important; 
}

.navbar-brand{
	color: #e6b333 !important;
}

.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
	background: #ffffff;
}



