html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
  background: #22272d !important;

}

h4.border-bottom{
  color: #e6b333;
}

.d-block{
  color:  #e6b333; 
}

.bg-light{
  background: #22272d !important;
  width: 100% !important;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}
.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray{
  color: #ffffff;
  width: 100%;
}
.btn{
  color: #e6b333;
}
li.nav-item a:hover { 
  color: #e6b333 !important; 
}
.text-muted.pt-3{
  width: 100% !important;
}
.container{ 
  padding: 0px;
  margin-top:0px !important;
}

.navbar-brand{
  color: #e6b333 !important;
}
.my-3.p-3.bg-white.rounded.box-shadow{
  width: 100% ;
  background: #22272d !important;
  margin: 0px !important;
  padding: 0px !important;
}
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }
