/* stylelint-disable selector-list-comma-newline-after */
.container{
  background: #22272d;
}
li.nav-item a:hover { 
  color: #e6b333 !important;
  text-decoration: none; 
}
h4.font-italic:hover{
  color: #e6b333 !important;
  text-decoration: underline;
  color: #22272d;
}
a.font-italic{
  text-decoration: none;

}

h3.blog-post-title{
  color: #e6b333;
}

.navbar-brand{
  color: #e6b333 !important;
}

body{
  margin-top: 60px;
  background: #22272d;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: white;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
p{
  color: white;
}
.p-3.mb-3.bg-light{
  background: #22272d !important;
}

.mb-0{
  font-size: 20px;
}

a.btn-outline-primary{
  color: #e6b333 !important;
  border-color: #e6b333; 
}

a.btn-outline-primary:hover {
  color: #FFFFFF !important;
  background: #e6b333;
  border-color: #e6b333;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}



.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.album.py-5.bg-light{
  background:#22272d !important;
  color: #22272d;
}
.row{
  background: #22272d;
  color: #22272d;
}

.container{
  background: #22272d;
  color: #22272d;
}

li.nav-item a:hover {
  color: #e6b333 !important;
}
.card-text{
  color: #ffffff;
}
.card-body{
  background: #1a1f25;
}
.text-muted{

  font-size: 24px;
  color: #e6b333 !important;
}